.main-head {
	position: relative;
	background: var(--color-background);
	// .main-head__container
	&__container {
	}
	// .main-head__body
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: em($md2)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .main-head__column
	&__column {
		// .main-head__column_left
		&_left {
			@media (max-width: em($md2)) {
				order: 2;
			}
		}
		// .main-head__column_right
		&_right {
			display: grid;
			grid-gap: rem(70);
			padding: rem(78) rem(0) rem(71) rem(70);
			@media (max-width: em($md0)) {
				padding: rem(40) rem(0) rem(40) rem(40);
			}
			@media (max-width: em($md2)) {
				grid-gap: rem(50);
				padding: rem(40) 0;
				order: 1;
			}
		}
	}
	// .main-head__image
	&__image {
		height: rem(300);
		margin: 0px rem(-15);
		@media (min-width: em($md2+1)) {
			position: absolute;
			width: calc(50vw + rem(10));
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	// .main-head__yandex
	&__yandex {
		position: absolute;
		bottom: rem(50);
		left: rem(50);
		@media (max-width: em($md0)) {
			bottom: rem(30);
		}
		@media (max-width: em($md3)) {
			left: rem(30);
		}
		img {
			height: rem(60);
			@media (max-width: em($md0)) {
				height: rem(50);
			}
		}
	}
	// .main-head__content
	&__content {
		& > *:last-child {
			margin-bottom: 0;
		}
		// margin: 0px 0px rem(70) 0px;
		// @media (max-width: em($md2)) {
		// 	margin: 0px 0px rem(30) 0px;
		// }
	}
	// .main-head__title
	&__title {
		margin: 0px 0px rem(20) 0px;
	}
	// .main-head__breadcrumbs
	&__breadcrumbs {
		margin: 0px 0px rem(20) 0px;
	}
	// .main-head__text
	&__text {
		margin: 0px 0px rem(40) 0px;
		display: grid;
		gap: rem(10);
		@media (max-width: em($md2)) {
			margin: 0px 0px rem(20) 0px;
		}

		p {
			color: #414140;
			font-size: rem(16);
			font-weight: 500;
			line-height: 193.75%;
			letter-spacing: 0.48px;
			text-transform: uppercase;
		}
	}
	// .main-head__btn
	&__btn {
	}
	// .main-head__banners
	&__banners {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: rem(25);
		img {
			width: 100%;
			height: rem(32);
			object-fit: contain;
		}
	}
	// .main-head__banner
	&__banner {
		// flex: 0 0 rem(100);
	}
}

//===============================================================
.video-section {
	// .video-section__container
	&__container {
	}
	// .video-section__head
	&__head {
	}
	// .video-section__body
	&__body {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: em($md2)) {
			grid-template-columns: repeat(1, 1fr);
		}
		@media (min-width: em($md2+1)) {
			min-height: rem(500);
		}
		&::before {
			content: "";
			position: absolute;
			width: rem(9999);
			height: 100%;
			top: 0;
			left: 50%;
			translate: -50% 0;
			background: var(--color-background);
			z-index: -1;
		}
	}
	// .video-section__column
	&__column {
		// .video-section__column_left
		&_left {
			display: flex;
			align-items: center;
		}
		// .video-section__column_right
		&_right {
			position: relative;
			@media (max-width: em($md2)) {
				margin: 0px rem(-15);
			}
		}
	}
	// .video-section__content
	&__content {
		padding: rem(50) rem(100) rem(50) 0px;
		@media (max-width: em($md0)) {
			padding: rem(40) rem(40) rem(40) 0px;
		}
		@media (max-width: em($md2)) {
			padding: rem(40) 0;
		}
	}
	// .video-section__title
	&__title {
		margin: 0px 0px rem(30) 0px;
		// @include adaptiv-value(font-size, 32, 20, 1);
	}
	// .video-section__text
	&__text {
		display: grid;
		grid-gap: rem(5);
	}
	// .video-section__paragraph
	&__paragraph {
	}
	// .video-section__image
	&__image {
		position: relative;
		background: #fff;
		@media (min-width: em($md2+1)) {
			position: absolute;
			width: calc(50vw + rem(10));
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	// .video-section__video
	&__video {
		width: 100%;
		height: 100%;
	}
	// .video-section__plug
	&__plug {
	}
}

//===============================================================
.products {
	// .products__head
	&__head {
	}
	// .products__body
	&__body {
	}
	// .products__slider
	&__slider {
	}
}

//---------------------------------------------------------------
.products-slider {
	overflow: visible;
	&._outside {
		cursor: grab;
	}
	// .products-slider__slides
	&__slides {
		margin: 0px 0px rem(50) 0px;
		justify-content: center;
		._outside & {
			justify-content: unset;
		}
	}
	// .products-slider__slide
	&__slide {
	}
	// .products-slider__actions
	&__actions {
		display: none;
		justify-content: center;
		align-items: center;
		._outside & {
			display: flex;
		}
	}
	// .products-slider__arrows
	&__arrows {
	}
	// .products-slider__arrow
	&__arrow {
		// .products-slider__arrow_prev
		&_prev {
		}
		// .products-slider__arrow_next
		&_next {
		}
	}
}

//---------------------------------------------------------------
.product-slide {
	position: relative;
	width: rem(307);
	height: rem(296);
	overflow: hidden;
	// .product-slide__body
	&__body {
		width: 100%;
		position: absolute;
		top: calc(100% - rem(75));
		transition: all 0.3s ease 0s;
		z-index: 1;
		&._active {
			top: calc(100% - rem(60 + 200));
		}
		&._no-action {
			top: calc(100% - rem(60));
			.h4 {
				color: #fff;
			}
		}
		// @media (any-hover: hover) {
		// 	.product-slide:hover & {
		// 		top: calc(100% - rem(60 + 200));
		// 	}
		// }
		// @media (any-hover: none) {
		// 	&._active {
		// 		top: calc(100% - rem(60 + 200));
		// 	}
		// }
	}
	// .product-slide__head
	&__head {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(4);
		height: rem(75);
		background: var(--color-main);
		padding: rem(5) rem(10);
		color: #fff;
		._no-action & {
			justify-content: center;
		}
	}
	// .product-slide__title
	&__title {
		color: #fff;
		font-size: 18px;
		font-weight: 500;
		line-height: 1;
	}
	// .product-slide__arrow
	&__arrow {
		color: #fff;
		font-size: rem(6);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			.product-slide:hover & {
				scale: 1 -1;
			}
		}
	}
	// .product-slide__content
	&__content {
		background: #f2f2f2;
		padding: rem(10);
		height: rem(200);
		overflow-y: scroll;
		cursor: default;
		table {
			border-collapse: collapse;
			tr {
				td {
					vertical-align: top;
					font-size: rem(13);
					line-height: prc(17, 13);
					padding: 0px 0px rem(5) 0px;
					&:first-child {
						font-weight: 500;
						padding-right: rem(10);
					}
					a {
						color: var(--color-main);
					}
				}
			}
		}
	}
	// .product-slide__image
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		// z-index: -1;
	}
}

//===============================================================
.addition {
	// .addition__container
	&__container {
	}
	// .addition__head
	&__head {
	}
	// .addition__body
	&__body {
	}
	// .addition__slider
	&__slider {
	}
}

//---------------------------------------------------------------
.addition-slider {
	overflow: visible;
	// .addition-slider__slides
	&__slides {
		justify-content: center;
		._outside & {
			justify-content: unset;
		}
	}
	// .addition-slider__slide
	&__slide {
	}
	// .addition-slider__actions
	&__actions {
		display: none;
		justify-content: center;
		align-items: center;
		._outside & {
			display: flex;
		}
	}
	// .addition-slider__arrows
	&__arrows {
	}
	// .addition-slider__arrow
	&__arrow {
		// .addition-slider__arrow_prev
		&_prev {
		}
		// .addition-slider__arrow_next
		&_next {
		}
	}
}

//===============================================================
.industry {
	// .industry__head
	&__head {
	}
	// .industry__body
	&__body {
	}
	// .industry__slider
	&__slider {
	}
}

//---------------------------------------------------------------
.industry-slider {
	overflow: visible;
	&._outside {
		cursor: grab;
	}
	// .industry-slider__slides
	&__slides {
		margin: 0px 0px rem(50) 0px;
		justify-content: center;
		._outside & {
			justify-content: unset;
		}
	}
	// .industry-slider__slide
	&__slide {
	}
	// .industry-slider__actions
	&__actions {
		display: none;
		justify-content: center;
		align-items: center;
		._outside & {
			display: flex;
		}
	}
	// .industry-slider__arrows
	&__arrows {
	}
	// .industry-slider__arrow
	&__arrow {
		// .industry-slider__arrow_prev
		&_prev {
		}
		// .industry-slider__arrow_next
		&_next {
		}
	}
}

//---------------------------------------------------------------
.industry-slide {
	position: relative;
	width: rem(307);
	height: rem(296);
	overflow: hidden;
	// .industry-slide__body
	&__body {
		position: absolute;
		top: calc(100% - rem(60));
		transition: all 0.3s ease 0s;
		z-index: 1;
		&._active {
			top: calc(100% - rem(60 + 200));
		}
		// @media (any-hover: hover) {
		// 	.industry-slide:hover & {
		// 		top: calc(100% - rem(60 + 200));
		// 	}
		// }
		// @media (any-hover: none) {
		// 	&._active {
		// 		top: calc(100% - rem(60 + 200));
		// 	}
		// }
	}
	// .industry-slide__head
	&__head {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(4);
		height: rem(60);
		background: var(--color-main);
		padding: rem(5) rem(10);
		color: #fff;
	}
	// .industry-slide__title
	&__title {
		color: #fff;
		font-size: 18px;
		font-weight: 500;
		line-height: 1;
	}
	// .industry-slide__arrow
	&__arrow {
		color: #fff;
		font-size: rem(6);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			.industry-slide:hover & {
				scale: 1 -1;
			}
		}
	}
	// .industry-slide__content
	&__content {
		background: #f2f2f2;
		padding: rem(10);
		height: rem(200);
		overflow-y: scroll;
		cursor: default;
		table {
			border-collapse: collapse;
			tr {
				td {
					vertical-align: top;
					font-size: rem(13);
					line-height: prc(17, 13);
					padding: 0px 0px rem(5) 0px;
					&:first-child {
						font-weight: 500;
						padding-right: rem(10);
					}
					a {
						color: var(--color-main);
					}
				}
			}
		}
	}
	// .industry-slide__image
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		// z-index: -1;
	}
}

//===============================================================
.resources {
	margin: 0px 0px rem(130) 0px;
	// .resources__head
	&__head {
	}
	// .resources__body
	&__body {
	}
	// .resources__slider
	&__slider {
	}
}

//---------------------------------------------------------------
.resources-slider {
	overflow: visible;
	// .resources-slider__slides
	&__slides {
		margin: 0px 0px rem(50) 0px;
		justify-content: center;
		._outside & {
			justify-content: unset;
		}
	}
	// .resources-slider__slide
	&__slide {
	}
	// .resources-slider__actions
	&__actions {
		display: none;
		justify-content: center;
		align-items: center;
		._outside & {
			display: flex;
		}
	}
	// .resources-slider__arrows
	&__arrows {
	}
	// .resources-slider__arrow
	&__arrow {
		// .resources-slider__arrow_prev
		&_prev {
		}
		// .resources-slider__arrow_next
		&_next {
		}
	}
}

//---------------------------------------------------------------
.resources-slide {
	width: rem(388);
	overflow: hidden;
	@media (max-width: em($md4)) {
		width: rem(320);
	}
	// .resources-slide__img-container
	&__img-container {
		position: relative;
		width: 100%;
		padding: 0px 0px prc(250, 388) 0px;
	}
	// .resources-slide__image
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
	// .resources-slide__content
	&__content {
		height: rem(46);
		background: #f2f2f2;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .resources-slide__title
	&__title {
		text-align: center;
	}
}

//===============================================================
.advantages {
	// .advantages__container
	&__container {
	}
	// .advantages__body
	&__body {
	}
	// .advantages__slider
	&__slider {
	}
}

//---------------------------------------------------------------
.advantages-slider {
	position: relative;
	cursor: grab;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 15%;
		width: 100%;
		height: rem(1);
		background: var(--color-main);
	}
	// .advantages-slider__slides
	&__slides {
		margin: 0px 0px rem(50) 0px;
		justify-content: space-between;
		._outside & {
			justify-content: unset;
		}
	}
	// .advantages-slider__slide
	&__slide {
	}
	// .advantages-slider__actions
	&__actions {
		display: none;
		justify-content: center;
		align-items: center;
		._outside & {
			display: flex;
		}
	}
	// .advantages-slider__arrows
	&__arrows {
	}
	// .advantages-slider__arrow
	&__arrow {
		// .advantages-slider__arrow_prev
		&_prev {
		}
		// .advantages-slider__arrow_next
		&_next {
		}
	}
}

//---------------------------------------------------------------
.advantages-slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	// width: rem(240);
	// .advantages-slide__content
	&__content {
		text-align: center;
		background: #fff;
		padding: 0px rem(20);
	}
	// .advantages-slide__image
	// &__image {
	// 	width: rem(105);
	// 	height: rem(105);
	// 	text-align: center;
	// 	display: inline-flex;
	// 	justify-content: center;
	// 	align-items: center;
	// 	margin: 0px 0px rem(22) 0px;
	// }
	// .advantages-slide__num
	&__num {
		display: flex;
		// @include adaptiv-value(width, 150, 105, 1);
		// @include adaptiv-value(height, 105, 30, 1);
		// height: rem(105);
		text-align: center;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		line-height: 1;
		margin: 0px 0px rem(22) 0px;
		color: #414140;
		@include adaptiv-value(font-size, 64, 40, 1);
		font-weight: 700;
	}
	// .advantages-slide__title
	&__title {
		font-weight: 500;
		max-width: rem(200);
	}
}

//===============================================================
.reviews {
	// .reviews__head
	&__head {
	}
	// .reviews__container
	&__container {
	}
	// .reviews__body
	&__body {
	}
	// .reviews__slider
	&__slider {
	}
}

//---------------------------------------------------------------
.reviews-slider {
	// .reviews-slider__slides
	&__slides {
		margin: 0px 0px rem(50) 0px;
	}
	// .reviews-slider__slide
	&__slide {
	}
	// .reviews-slider__actions
	&__actions {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .reviews-slider__arrows
	&__arrows {
	}
	// .reviews-slider__arrow
	&__arrow {
		// .reviews-slider__arrow_prev
		&_prev {
		}
		// .reviews-slider__arrow_next
		&_next {
		}
	}
}

//---------------------------------------------------------------
.reviews-slide {
	// .reviews-slide__head
	&__head {
		margin: 0px 0px rem(15) 0px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: rem(50);
	}
	// .reviews-slide__persone
	&__persone {
	}
	// .reviews-slide__vote
	&__vote {
	}
	// .reviews-slide__body
	&__body {
	}
	// .reviews-slide__text
	&__text {
	}
}

//---------------------------------------------------------------
.review-persone {
	display: flex;
	align-items: center;
	gap: rem(50);
	// .review-persone__photo
	&__photo {
		width: rem(90);
		height: rem(90);
		border-radius: 50%;
		overflow: hidden;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: rem(2) solid var(--color-main);
			border-radius: 50%;
			z-index: 2;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: rem(5) solid #fff;
			border-radius: 50%;
			z-index: 1;
		}
	}
	// .review-persone__info
	&__info {
	}
	// .review-persone__name
	&__name {
		font-weight: 700;
	}
	// .review-persone__date
	&__date {
		font-size: rem(16);
	}
}

//===============================================================
.num-cards {
	// .num-cards__body
	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(15);
		margin: 0px 0px rem(50) 0px;
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(1, 1fr);
			margin: 0px 0px rem(30) 0px;
		}
	}
	// .num-cards__item
	&__item {
	}
	// .num-cards__actions
	&__actions {
		display: flex;
		justify-content: center;
	}
	// .num-cards__btn
	&__btn {
	}
}

.num-card {
	display: flex;
	flex-direction: column;
	// .num-card__img
	&__img {
		position: relative;
		display: block;
		padding: 0px 0px prc(230, 387) 0px;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	// .num-card__content
	&__content {
		padding: rem(15);
		background: var(--color-background);
		flex: 1 1 auto;
	}
	// .num-card__title
	&__title {
		color: #000;
		a {
			display: grid;
			grid-template-columns: auto 1fr;
			gap: rem(5);
			padding: 0px 0px 0px rem(5);
			font-size: rem(21);
			font-weight: 700;
			line-height: 123.81%;
		}
		margin: 0px 0px rem(25) 0px;
	}
	// .num-card__text
	&__text {
	}
}

//===============================================================
.img-blocks {
	display: grid;
	grid-gap: rem(100);
	@media (max-width: em($md2)) {
		grid-gap: rem(70);
	}
	@media (max-width: em($md3)) {
		grid-gap: rem(30);
	}
}

.img-block {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(20) rem(30);
	@media (max-width: em($md2)) {
		grid-template-columns: repeat(1, 1fr);
	}
	// .img-block__column
	&__column {
		// .img-block__column_img
		&_img {
		}
		// .img-block__column_content
		&_content {
			& > *:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}
	// .img-block__img
	&__img {
		height: rem(350);
	}
	// .img-block__title
	&__title {
		margin: 0px 0px rem(30) 0px;
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(15) 0px;
		}
	}
	// .img-block__text
	&__text {
		margin: 0px 0px rem(50) 0px;
	}
	// .img-block__link
	&__link {
		display: inline-flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		gap: rem(10);
		font-weight: 500;
		color: var(--color-main);
	}

	&:nth-child(even) {
		@media (min-width: em($md3+1)) {
			.img-block__column.img-block__column_img {
				order: 2;
			}
			.img-block__column.img-block__column_content {
				order: 1;
			}
		}
	}
}

//===============================================================
.gray-blocks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(30);
	@media (max-width: em($md2)) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.gray-block {
	background: var(--color-background);
	padding: rem(30);
	height: 100%;
	@media (max-width: em($md3)) {
		padding: rem(15);
	}
	// .gray-block__column
	&__column {
		// .gray-block__column_content
		&_content {
		}
	}
	// .gray-block__title
	&__title {
		margin: 0px 0px rem(30) 0px;
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(15) 0px;
		}
	}
	// .gray-block__text
	&__text {
	}
}

//===============================================================
.cards-2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: rem(-7.5);
	// .cards-2__column
	&__column {
		flex: 0 1 33.333%;
		padding: rem(7.5);
		@media (max-width: em($md2)) {
			flex: 0 1 50%;
		}
		@media (max-width: em($md3)) {
			flex: 0 1 100%;
		}
	}
}

.card-2 {
	background: var(--color-background);
	padding: rem(20) rem(15);
	display: grid;
	grid-gap: rem(25);
	justify-items: start;
	// .card-2__title
	&__title {
	}
	// .card-2__text
	&__text {
	}
	// .card-2__link
	&__link {
	}
}

//===============================================================
.advantage-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: rem(-15) rem(-25);
	@media (max-width: em($md3)) {
		margin: rem(-7) rem(-12);
	}
	// .advantage-cards__card
	&__card {
		padding: rem(15) rem(25);
		flex: 0 1 50%;
		@media (max-width: em($md3)) {
			padding: rem(7) rem(12);
			flex: 0 1 100%;
		}
	}
}

.advantage-card {
	display: grid;
	grid-template-columns: rem(237) 1fr;
	gap: rem(15) rem(30);
	align-items: center;
	@media (max-width: em($md1)) {
		grid-template-columns: rem(200) 1fr;
	}
	@media (max-width: em($md2)) {
		grid-template-columns: rem(150) 1fr;
	}
	@media (max-width: em($md3)) {
		grid-template-columns: 1fr;
	}
	// .advantage-card__column
	&__column {
		// .advantage-card__column_img
		&_img {
			text-align: center;
		}
		// .advantage-card__column_content
		&_content {
			@media (max-width: em($md3)) {
				text-align: center;
			}
		}
	}
	// .advantage-card__img
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px 0px rem(15) 0px;
	}
	// .advantage-card__title
	&__title {
		font-size: rem(18);
		font-weight: 500;
		line-height: 144.444%;
	}
}

//===============================================================
.why {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: rem(-15);
	// .why__column
	&__column {
		padding: rem(15);
		flex: 0 1 25%;
		@media (max-width: em($md2)) {
			flex: 0 1 33.333%;
		}
		@media (max-width: em($md3)) {
			flex: 0 1 50%;
		}
		@media (max-width: em($md4)) {
			flex: 0 1 100%;
		}
	}
	// .why__item
	&__item {
		background: var(--color-background);
		padding: rem(30);
		text-align: center;
		height: 100%;
	}
	// .why__value
	&__value {
		margin: 0px 0px rem(15) 0px;
		color: var(--color-main);
		font-size: rem(64);
		font-weight: 700;
		line-height: normal;
	}
	// .why__title
	&__title {
		text-align: center;
		font-size: rem(16);
		font-weight: 700;
		line-height: normal;
	}
}

//===============================================================
.partners-slider {
	position: relative;
	cursor: grab;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 23%;
		width: 100%;
		height: rem(1);
		background: var(--color-main);
	}
	// .partners-slider__slides
	&__slides {
		margin: 0px 0px rem(50) 0px;
		justify-content: space-between;
		._outside & {
			justify-content: unset;
		}
	}
	// .partners-slider__slide
	&__slide {
	}
	// .partners-slider__actions
	&__actions {
		display: none;
		justify-content: center;
		align-items: center;
		._outside & {
			display: flex;
		}
	}
	// .partners-slider__arrows
	&__arrows {
	}
	// .partners-slider__arrow
	&__arrow {
		// .partners-slider__arrow_prev
		&_prev {
		}
		// .partners-slider__arrow_next
		&_next {
		}
	}
}

//---------------------------------------------------------------
.partners-slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	width: rem(240);
	// .partners-slide__content
	&__content {
		text-align: center;
	}
	// .partners-slide__image
	&__image {
		width: rem(105);
		height: rem(105);
		text-align: center;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0px 0px rem(22) 0px;
	}
	// .partners-slide__num
	&__num {
		display: flex;
		width: rem(105);
		height: rem(105);
		text-align: center;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0px 0px rem(22) 0px;
		color: #414140;
		font-size: rem(64);
		font-weight: 700;
	}
	// .partners-slide__title
	&__title {
		font-weight: 500;
		max-width: rem(200);
	}
}
